@{
    ViewData["Title"] = "Active for Life";
}
<div class="jumbotron shadow" style="background-color:skyblue;border-radius:30px;">
    <h2>Active for Life</h2>
    <h3>The best fitness app for your active lifestyle</h3>
</div>

<address>
    600 Park Avenue<br />
    Traverse City, MI 49696<br />
    <abbr title="Phone">P:</abbr>
    800.Active.LIFE
</address>

    <address>
        <strong>Tech Support:</strong>   <a href="mailto:Support@activeforlife.com">Support@activeforlife.com</a><br />
        <strong>Sales/Marketing:</strong> <a href="mailto:Marketing@activeforlife.com">Marketing@activeforlife.com</a>
    </address>
