@{
    ViewData["Title"] = "Active for Life";
}

<div class="jumbotron shadow" style="background-color:lightgreen;border-radius:30px;">
    <h1>Active For Life</h1>
    <p class="lead">
        The Active for life app includes a BMI, activity tracking system,
        recipes, tips, tricks and more to help you meet your activity goals.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Start by adding your membership information to the app.  Coming soon...<br />
        </p>
    </div>
    <div class="col-md-4">
        <h2>Logging Activities</h2>
        <p>Log your activities in our activity tracker</p>
    </div>
    <div class="col-md-4">
        <h2>Finding Recipes</h2>
        <p>Find recipes based on food preferences.  View nutritional content before you make the meal!</p>
    </div>
</div>
    <div class="row">
        <img src="~/images/kykaking.jpg" alt="women running in the sunset" asp-append-version="true" 
             class="float-left img-fluid col-sm-4  shadow rounded-sm" style="width:100%;"/>
        <img src="~/images/cycling.jpg" alt="biking through the forest" asp-append-version="true"
             class="float-left img-fluid col-sm-4  shadow rounded-sm" style="width:100%;" />
        <img src="~/images/hiking.jpg" alt="seniors walking" asp-append-version="true"
             class="float-left img-fluid col-sm-4  shadow rounded-sm" style="width:100%;" />
    </div>

